<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Console appender to log to console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %-5level - %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File appender to log to a file -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/ms-order.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %-5level - %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root logger (used if no specific logger is set) -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

    <!-- Specific logger configuration for different packages or classes -->
    <logger name="org.springframework.web" level="DEBUG"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="com.angMetal" level="DEBUG"/>
</configuration>
